h1 {
	text-align: center;
	font-family: Helvetica, sans-serif;
}


.header {
	background-color: navy;
	box-shadow: 60px -15px 1px teal;
}

h1 {
	background-color: darkblue;
	box-shadow: 60px -15px 1px teal;
}

li {
	padding: 10px;
}

ul a {
	padding: 10px;
	border: 2px solid teal;
	-webkit-transition: padding .13s;
	box-shadow: 3px 3px 3px gray;
	border-radius: 5px;
}

ul a:hover {
	padding: 15px;
	color: teal;
	border: 2px solid teal;
	box-shadow: 3px 3px 3px gray;
	transition-duration: .13s;
}


ul a:click {
	margin: 0 5px 0 5px;
}

.contactinfo {
	text-align: center;
}

footer {
	text-align: center;
}

.container {
	border-left: 1px solid black;
	border-right: 1px solid black;
	box-shadow: 1px 2px;
	width: 60%;
}


*, *:after, *:before {
	box-sizing: border-box;
}