h1 {
	text-align: center;
	font-family: Helvetica, sans-serif;
}

.container {
	width: 100%;
}

nav {
	text-align: center;
}

ul a:hover {
	color: orange;
	background-color: blue;
}
ul a:click {
	margin: 0 5px 0 5px;
}

.contactinfo {
	text-align: center;
}

footer {
	text-align: center;
}